*~
*.lzm
*.txz
*.tgz
*.tar.bz2

01-Core*
!01-Core.sh
02-Xorg*
!02-Xorg.sh
03-Libs*
!03-Libs.sh
04-Apps*
!04-Apps.sh
05-KDE*
!05-KDE.sh
07-Devel*
!07-Devel.sh
09-Multilib*
!09-Multilib.sh
10-Virtual*
!10-Virtual.sh
ISO-test*
FILELIST.TXT
linux-live
#       Kernels/
#       enlightment/
#       initramfs/
#       remaster

