[Unit]
Description=Alsa volume set

[Service]
ExecStart=/usr/bin/amixer set Master 75% unmute
#ExecStartPost=/usr/bin/amixer set PCM 90% unmute
ExecStartPost=/usr/bin/amixer set Headphone 75% unmute

[Install]
WantedBy=multi-user.target
