[Unit]
Description=Libvirt QEMU daemon socket
Documentation=man:virtqemud(8)

[Socket]
ListenStream=/var/run/libvirt/virtqemud-sock
Service=virtqemud.service

[Install]
WantedBy=sockets.target
